
/* map-root{
    height:80%;
    width:100%;
} *





.BigGrid{
    background-color: black;
   
}

.InfoTile{
    
    border-style : solid;
    border-width: 1vh;
    background:#ffffff; 
    text-align: center;
    
    
    
   
    
   
   
   
    
    
    /* border-width: 10px;
    border-color: black; */ 
    /* nu au efect*/
   


mat-card-header{
    width: 100%;
    justify-content: center;
}




mat-card{
    /* margin-top: 3vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw; */
    /* display: flex;
    flex-direction: column;
    margin: 10px; */
   width : 100%;
  height: 80%;
    text-align: center;
      /*  not needed styles to reflect it */ 
  


  /* needed styles below */
  display: flex;
  justify-content: space-between;


}



.PanelTile{
    background:#ffffff; 
    
    border-style : solid;
    border-width: 1vh;
    
    margin-left: 10vw;
    margin-right: 10vw;
    

}

.SelectContainer{
    
  /* margin-left: 1vw; */
    /* margin-right : 10vh; */
    /* margin-right: 2vw; */
    /* margin-right: 65vw;
    margin-left: 65vw; */
    align-items: center;
    text-align: center;
    width: 100vw;

   
}
.select{
    width : 100vw;
    text-align: center;
    align-items: center;

}

.CardTextContent{
    font-size: medium;


}

.CardTextSubtitle{
    font-size: medium;
    width: 100%;
 
}

.CardTextTitle{
    font-size: 1vw;
    width: 100%;
   
   

}
.RightSideContainer{
    background-color: aqua;
    position: relative;
    right: 0px;
}


.CardContainer{
 
    /* margin-left: 1vw; */
padding-left: 23vw;
    width: 80%;
    height: 15%;
   
    
   
}





mat-expansion-panel-header{
    position : sticky;
}

mat-form-field{
    width:100%
    
}

mat-option{
    width: 80vw;;
    align-items: center;
    text-align: center;
}





.SpinnerTile{
    background:#ffffff; 
    text-align: center;
    border-style : solid;
    border-width: 1vh;
    width: 80vh;
    
    margin-left: 10vw;
    margin-right: 10vw;
}







.ExploreButton{
   
    width: 100%;

   
   
    text-align: center;
    margin-left: 1vw;
    margin-bottom: 1vw;
}



/* mat-grid-tile{
    border-width: 10px;
    border-color: black; 
} */

.map {
  
    position: relative;
   /* margin : 15%; */
   /* padding : 0%; */
    width: 100%;
    height: 50%;
    overflow: visible;
    /* margin-left: 1vw; */
    margin-bottom: 2vh;
    /* margin-right: 10vw; */
    
  }


