
  
   <div class = "SelectContainer">
   <mat-form-field>
    
    <mat-select [(value)]="LayerSelected" (selectionChange)="setLayer(LayerSelected)" class="select">
      <mat-option *ngFor="let food of FeatureLayerOptions" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
      <mat-label>Agregation mode</mat-label>
     
    </mat-form-field>
    <mat-form-field>
    
      <mat-select [(value)]="BaseLayerSelected" (selectionChange)="setBaseLayer(BaseLayerSelected)" class="select">
        <mat-option *ngFor="let food of BaseLayer" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
        <mat-label>Base Layer</mat-label>
       
      </mat-form-field>
    
  </div>
  
 
   

    <div id="map" class="map"    ></div>
        <div id="popup" class="ol-popup" >
         <a href="#" id="popup-closer"class="popup-closer"></a>
        <div id="popup-content" ></div>
        
      </div> 

      <button  mat-raised-button color = "primary" (click)="TriggerExplore(selectedFeature)" class = "ExploreButton" [disabled]="isFeatureSelected">Explore</button>
      <button  mat-raised-button color = "primary" (click)="TriggerTimeFilter()" class = "ExploreButton" >Filter by time interval</button>
<div fxLayout.lt-sm="column" fxLayout="row wrap" fxLayoutGap="3vw" fxLayoutAlign="space-between" class = "CardContainer">
    <mat-card  fxFlex="0 1 calc(33.3% - 2vw)"  fxFlex.lt-md="0 1 calc(33.3% - 2vw)"
    fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title class="CardTextTitle">{{ParticulateMatter}}</mat-card-title>
        <mat-card-subtitle class="CardTextSubtitle">{{PMValue}} {{ParticleUM}} </mat-card-subtitle>
      </mat-card-header>
      
      
      
 
    </mat-card >
    <mat-card fxFlex="0 1 calc(33.3% - 2vw)"  fxFlex.lt-md="0 1 calc(33.3% - 2vw)"
    fxFlex.lt-sm="100%">
      <mat-card-header>
              <mat-card-title class="CardTextTitle">{{Temperature}}</mat-card-title>
        <mat-card-subtitle class="CardTexSubtitle">{{TempValue}} {{TemperatureUM}}</mat-card-subtitle>
      </mat-card-header>
      
      
      

    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 2vw)"  fxFlex.lt-md="0 1 calc(33.3% - 2vw)"
    fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title class="CardTextTitle">{{Humidity}}</mat-card-title>
        <mat-card-subtitle class="CardTextSubtitle">{{HumValue}} {{HumidityUM}}</mat-card-subtitle>
      </mat-card-header>
      
     
      

      
    </mat-card>
  </div>

 

  


