<div >
    <div style="display : block">
     <canvas baseChart
        [datasets]="barChartData"
        [labels] = "barChartLabels"
        [options] = "barChartOptions"
        [legend] = "barChartLegend"
        [chartType]= "barChartType">
    </canvas>
  
    </div>


</div>
