<!-- <h2 mat-dialog-title>
    <div class="NavContainer">
    <ul class = "nav nav-tabs navList">
        <li class= "nav-item">
            <a class = "nav-link" [routerLink]="[{ outlets: { primary: ['path'],statisticOutlet: ['path'] } }]" >Evolution</a>
        </li> -->

    
        <!-- <li class= "nav-item">
            <a class = "nav-link">BarChart</a>
        </li>

   
        <li class= "nav-item">
            <a class = "nav-link">BarChart</a>
        </li> -->
  <!--  </ul>

</div>

</h2>  -->


<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="result">X</button>
</mat-dialog-actions>
<mat-dialog-content class="DialogContent">
    <div id="mapDialog" class="mapDialog"    ></div>
    <app-bar-chart class="Chart"></app-bar-chart>
  

</mat-dialog-content>
