
@import '~bootstrap/dist/css/bootstrap.min.css';
.NavContainer{
    width: 75vw;
   
}

.DialogContent{
    justify-content: center;
}

.mapDialog {
  
  
     
   /* padding : 0%; */
   margin-top: 2vh;
    width: 75vw;
    height: 20vh;
    overflow: visible;
    
   
justify-self: center;
     align-self: center;
    
  }
.Chart{
    justify-self: center;
     align-self: center;
    
    width :100%;
    height : 20%
}