




  <!-- <mat-toolbar color="primary">My App</mat-toolbar> -->
  <mat-toolbar color="primary"  class="toolbar" >
    <mat-toolbar-row>
      <button style="font-size: 20px; color: coral; font-family: cursive; text-align: center; " mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1 style="font-size: 20px; color: coral; font-family: cursive; text-align: center; ">InoSensing Overview</h1>
      <span class="menu-spacer"></span>
      <div>
        <div fxShow="true" fxHide.lt-md="true">
        <a style="font-size: 20px; color: coral; font-family: cursive; text-align: center; " mat-button [routerLink]="''"> Home </a>
        <a style="font-size: 20px; color: coral; font-family: cursive; text-align: center; " mat-button [routerLink]="'map'"> Map </a>
       </div>
  
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <div fxShow="true" >
        <span style="font-size: 50%; color: coral; font-family: cursive; text-align: center; ">A visual and analytical point on view on Bucharest's air pollution</span>
    </div>  </mat-toolbar-row>
  </mat-toolbar>
    
    <!-- <mat-sidenav-container class="example-container" >
      <mat-sidenav mode="side" opened> 
        <button mat-raised-button color="primary" >Click me!</button>
        <button mat-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu color="primary" #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu></mat-sidenav>
      <mat-sidenav-content> 
        <div class="MapBigWrapper" >
        <div id="map" class="map" ></div>
        <div id="popup" class="ol-popup" >
          <a href="#" id="popup-closer"class="popup-closer"></a>
          <div id="popup-content" ></div>
</div>

        </div></mat-sidenav-content>
    </mat-sidenav-container> -->


    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
    
          <a mat-list-item [routerLink]="''"> Home </a>
          <a mat-list-item [routerLink]="'map'"> Map </a>
          <a mat-list-item (click)="sidenav.toggle()"  mat-list-item>Close</a>
    
        </mat-nav-list>
      </mat-sidenav >
      <mat-sidenav-content class="PageContent">
       <router-outlet class="PageContent"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

    
 






