.Hourselect{
    width : 40%
}

.StrategyContainer{
    background-color: aqua;
    border-radius: 3vh;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
    
    
}

.RecentStrategyContainer{
    background-color: aqua;
    border-radius: 3vh;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
}

.CustomStrategyContainer{
    background-color: aqua;
    border-radius: 3vh;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
    margin-bottom: 5vw;
}

.FilterButton{
    width:100%
}