<div class = "StrategyContainer">
    <div>  <label id="example-radio-group-label">Pick your filtering strategy   </label> </div>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="FilterStrategy"
  >
  <mat-radio-button class="example-radio-button" *ngFor="let strategy of TimeFilterStrategies" [value]="strategy">
    {{strategy}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{FilterStrategy}}</div>
</div>

<div class="RecentStrategyContainer" >
   <div> <label id="example-radio-group-label">Last complete interval of   </label> </div>
<mat-radio-group
[disabled]="FilterStrategy!='recents'"
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="RecentStrategy"
  >
  <mat-radio-button class="example-radio-button" *ngFor="let strategy of TimeFilterRecents" [value]="strategy">
    {{strategy}}
  </mat-radio-button>
</mat-radio-group>
<div>Your recent interval selected : {{RecentStrategy}}</div>
</div>

<div class="CustomStrategyContainer">

<div >  
    <label id="example-radio-group-label">Start and end days  </label> </div>
<mat-form-field>
    <input matInput [matDatepicker]="myDatePicker1" placeholder ="From" [(ngModel)]="startDate" [disabled]="FilterStrategy!='custom'"  [min]="minDate" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="myDatePicker1" > </mat-datepicker-toggle>
    <mat-datepicker #myDatePicker1 ></mat-datepicker>
</mat-form-field>
<span> -> </span>
<mat-form-field>
    <input matInput [matDatepicker]="myDatePicker2" placeholder ="To" [(ngModel)]="endDate" [disabled]="FilterStrategy!='custom'" [min]="minDate" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="myDatePicker2" > </mat-datepicker-toggle>
    <mat-datepicker #myDatePicker2 ></mat-datepicker>
</mat-form-field>
<div>  <label id="example-radio-group-label">Start and end hours  </label> </div>

<mat-form-field>
<mat-select [(value)]="HourStartSelected"  class="select" [disabled]="FilterStrategy!='custom'" >
    <mat-option *ngFor="let food of HourOptions" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
    <mat-label>Start hour</mat-label>
</mat-form-field>
<span> -> </span>
    <mat-form-field>
<mat-select [(value)]="HourEndSelected"  class="Hourselect" [disabled]="FilterStrategy!='custom'">
    <mat-option *ngFor="let food of HourOptions" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
    <mat-label>End hour</mat-label>
</mat-form-field>

</div>
<button  mat-raised-button color = "primary" (click)="submit()"  class = "FilterButton">Filter</button>




  



