@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    margin: 0%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height : 100%;
    width: 100%;
    background-color: black;
}

html{
    margin: 0%;
    height:100%;
    width:100%;
}



map-root{
    height:100%;
    width:100%;
    margin: 0%
}








md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px ;
    width: 100% ;
    max-width: 400px ;
    height : 100%;
    
} 



app-root{
    height:100%;
    width:100%;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
