<div class="MapBigWrapper" >
    <!-- <div id="map" class="map" ></div>
    <div id="popup" class="ol-popup" >
      <a href="#" id="popup-closer"class="popup-closer"></a>
      <div id="popup-content" ></div>
</div> -->

<h1>Welcome to InoSensing Overview Component</h1>

<p>Use the navigtion to access general or specific info of the current situation of air pollution in Bucharest</p>


<span>Made By Millea Radu</span>

    </div>